* {
    margin: 0;
    padding: 0;
    font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

.w-h-100 {
    height: 100%;
    width: 100%;
}

.w-h-603-499 {
    height: 603px;
    width: 499.36px;
}

#screen {
    width: 100%;
    height: 5850px;
    /* border: 2px solid green; */

}

#nav-bar {
    width: 100%;
    height: 160px;
    /* border: 2px solid black; */
}

#nav-one {
    width: 100%;
    height: 40px;
    /* border: 2px solid red; */
    background-color: rgb(245, 245, 245);

}

#nav-one-right {
    width: 20%;
    height: 20px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    margin-left: 1000px;
    font-weight: bold;
    font-size: 13px;
    /* padding-top: 10px; */
    margin-top: 8px;

}

#nav-two {
    width: 100%;
    height: 60px;
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: space-between; */

}

#nav-two-left {
    width: 5%;
    height: 40px;
    /* border: 2px solid green; */
    margin-left: 15px;
    margin-top: 15px;
}

#nav-two-mid {
    width: 50%;
    height: 40px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    /* margin-left: 60px; */
    font-weight: bold;
    font-size: 17px;
    margin-left: 190px;
    margin-top: 15px;
}

#nav-two-right {
    width: 20%;
    height: 40px;
    /* border: 2px solid green; */
    margin-left: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

#nav-three {
    width: 100%;
    height: 50px;
    /* border: 2px solid blue; */
    background-color: rgb(245, 245, 245);
}

#nav-three-text {
    width: 100%;
    height: 50px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

#first-line {
    width: 50%;
    height: 20px;
    /* border: 2px solid pink; */
    margin-left: 230px;
    font-size: 15px;
    font-weight: bold;
}

#second-line {
    width: 90%;
    height: 20px;
    /* border: 2px solid rgb(145, 17, 38); */
    font-size: 14px;
}

#first-gift-img {
    width: 100%;
    height: 550px;
    /* border: 2px solid rgb(0, 255, 34); */
}

#gift-img {
    width: 90%;
    height: 550px;
    /* border: 2px solid yellow; */
    margin-left: 80px;
}

#gift-desc {
    width: 100%;
    height: 300px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#gift-first-line {
    width: 60%;
    height: 70px;
    /* border: 2px solid yellow; */
    font-size: 70px;
    font-weight: bold;
    margin-left: 250px;

}

#gift-second-line {
    width: 30%;
    height: 30px;
    /* border: 2px solid yellow; */
    font-size: 18px;
    font-weight: bold;
    margin-left: 450px;

}

#gift-third-line {
    width: 20%;
    height: 40px;
    border: 2px solid yellow;
    display: flex;
    margin-left: 450px;

}

#third-line-button {
    width: 100%;
    height: 50px;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
}

#button-one-shopexp {
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 200px;
    font-size: 20px;
}

#button-two-shopexp {
    background-color: black;
    color: white;
    width: 50px;
    height: 40px;
    border-radius: 18px;
    margin-left: 200px;
}

#feat-shop {
    width: 90%;
    height: 50px;
    /* border: 2px solid blue; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#featured {
    font-size: 22px;
    font-weight: bold;
    margin-top: 7px;
}

#shop {
    margin-top: 12px;
    margin-right: 10px;
}

#featured-img {
    width: 100%;
    height: 450px;
    /* border: 2px solid black; */

}

#img-box {
    width: 90%;
    height: 450px;
    /* border: 2px solid blue; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.featured-img-line {
    width: 32%;
    height: 440px;
    /* border: 2px solid yellow; */

}

#img-names {
    width: 100%;
    height: 50px;
    /* border: 2px solid black; */
}

#names {
    width: 90%;
    height: 50px;
    /* border: 2px solid green; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#names>div {
    width: 40%;
    height: 30px;
    /* border: 2px solid blue; */
    font-size: 18px;
    margin-top: 8px;
}

#trending-container {
    width: 100%;
    height: 50px;
    /* border: 2px solid black; */
    margin-top: 100px;
}

#trending {
    width: 90%;
    height: 50px;
    /* border: 2px solid green; */
    margin: auto;
}

#trending-word {
    width: 20%;
    height: 40px;
    /* border: 2px solid red; */
    font-size: 22px;
}

#image-container {
    width: 100%;
    height: 550px;
    /* border: 2px solid blue; */
}

#image-box {
    width: 90%;
    height: 550px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#image-box>div {
    width: 49%;
    height: 550px;
    /* border: 2px solid yellow; */
}

.box {
    width: 100%;
    height: 50px;
    /* border: 2px solid red; */
    margin-top: 20px;
}

.box-name {
    width: 20%;
    height: 50px;
    /* border: 2px solid blue; */
    font-size: 20px;
    margin-left: 58px;
    font-weight: bold;
}

#gear-up-img-container {
    width: 100%;
    height: 500px;
    /* border: 2px solid black; */
    margin-top: 35px;
}

#gear-up-img {
    width: 80%;
    height: 500px;
    /* border: 2px solid yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#gear-up-img>div {
    width: 32%;
    height: 500px;
    /* border: 2px solid red; */
}

#dont-miss-img-container {
    width: 100%;
    height: 500px;
    /* border: 2px solid black; */
    margin-top: 35px;
}

#dont-miss-img {
    width: 90%;
    height: 500px;
    /* border: 2px solid yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#dont-miss-img>div {
    width: 49%;
    height: 500px;
    /* border: 2px solid red; */
}

#always-iconic-img-container {
    width: 100%;
    height: 300px;
    border: 2px solid black;
    margin-top: 35px;
}

#always-iconic-img {
    width: 90%;
    height: 300px;
    /* border: 2px solid yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#always-iconic-img>div {
    width: 30%;
    height: 300px;
    /* border: 2px solid red; */
}

#shop-by-sport-img-container {
    width: 100%;
    height: 300px;
    /* border: 2px solid black; */
    margin-top: 35px;
}

#shop-by-sport-img {
    width: 90%;
    height: 300px;
    /* border: 2px solid yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#shop-by-sport-img>div {
    width: 32%;
    height: 300px;
    /* border: 2px solid red; */
}

#shop-by-sport-desc-container {
    width: 100%;
    height: 200px;
    /* border: 2px solid black; */
    margin-top: 35px;
}

#shop-by-sport-desc {
    width: 90%;
    height: 200px;
    /* border: 2px solid yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#shop-by-sport-desc>div {
    width: 32%;
    height: 200px;
    /* border: 2px solid red; */
}

.shop-by-first-line {
    font-size: 20px;
}

.shop-by-second-line {
    font-size: 16px;
    margin-top: 15px;
}

.shop-by-third-line {
    font-size: 18px;
    margin-top: 22px;
}

#ess-img-container {
    width: 100%;
    height: 550px;
    /* border: 2px solid black; */
}

#ess-img {
    width: 90%;
    height: 550px;
    /* border: 2px solid yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#ess-img>div {
    width: 32%;
    height: 550px;
    /* border: 2px solid red; */
}

#list-container {
    width: 100%;
    height: 200px;
    /* border: 2px solid black; */
    margin-top: 50px;
}

#list {
    width: 80%;
    height: 200px;
    /* border: 2px solid yellow; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#list>div {
    width: 20%;
    height: 200px;
    border: 2px solid red;
}

.list-first-line {
    font-weight: bold;
}

.list-line {
    margin-top: 13px;
    color: rgb(133, 117, 117);
}

#footer {
    width: 99%;
    height: 300px;
    /* border: 2px solid yellow; */
    margin-top: 30px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#top-left {
    width: 50%;
    height: 300px;
    /* border: 2px solid red; */
    color: white;
    display: flex;
    justify-content: space-between;
}

#row-one {
    width: 140px;
    height: 100px;
    /* border: 2px solid blue; */
    margin-top: 20px;
    font-size: 14px;
    margin-left: 20px;
}

#row-two {
    width: 140px;
    height: 200px;
    /* border: 2px solid blue; */
    margin-top: 20px;
    font-size: 14px;
    margin-left: 10px;
}

#row-three {
    width: 140px;
    height: 100px;
    /* border: 2px solid blue; */
    margin-top: 20px;
    font-size: 14px;
    margin-left: 10px;
}

.r1 {
    font-size: 13px;
    font-weight: bold;
}

.r2 {
    color: grey;
}

#top-right {
    width: 15%;
    height: 100px;
    /* border: 2px solid red; */
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 22px;
    height: 25px;
    /* border: 2px solid red; */
    margin-top: 20px;
}

#bottom-left {
    width: 20%;
    height: 20px;
    /* border: 2px solid red; */
}

#footer-two {
    width: 99%;
    height: 40px;
    /* border: 2px solid yellow; */
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#bottom-left {
    color: white;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

#bottom-right {
    width: 500px;
    height: 30px;
    /* border: 2px solid red; */
    color: grey;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

}

@media screen and (max-width: 950px) {

    #Screen {
        width: 100%;
        height: auto;
    }

    #nav-bar {
        width: 100%;
        height: 130px;
        /* border: 5px solid yellow; */
    }
    #nav-one{
        display: none;
    }
    #nav-two{
        width: 100%;
        height: 50px;
        justify-content: space-between;
        position: fixed;
    }
    #nav-two-mid{
        display: none;
    }
    #nav-two-right{
        margin-right: 40px;
    }
    #user-name{
        font-size: 15px;
    }
    #nav-three{
        width: 100%;
        height: 50px;
        margin-top: 10px;
    }
    #first-gift-img{
        height: 250px;
    }
    #gift-img{
        width: 90%;
        height: 250px;
        margin: auto;
    }
    #gift-desc{
        height: 200px;
    }
    #gift-first-line{
        font-size: 40px;
        font-weight: bold;
        margin: auto;
    }
    #gift-second-line{
        margin: auto;
        font-size: 14px;
    }
    #gift-third-line{
        margin: auto;
    }
    #button-one-shopexp{
        width: 40px;
        display: none;
    }
    #third-line-button {
        width: 50%;
        height: 30px;
    }
    #button-one-shopexp{
        

    }
    #button-two-shopexp{
        /* width: 70px; */
        display: none;
    }
    #feat-shop{
        width: 100%;
        height: 60px;
        justify-content: space-between;
    }
    #featured{
        margin-left: 60px;
    }
    #shop{
        margin-left: 500px;
    }
    #footer{
        width: 100%;
    }
    #top-left{
        width: 80%;
    }
    #top-right{
        width: 20%;
    }

}