* {
    margin: 0;
    padding: 0;
    font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}
.screen{
    width: 99%;
    height: 800px;
    margin: auto;
    border: 2px solid red;
}
.login{
    width: 50%;
    height: 800px;
    border: 2px solid black;
    margin: auto;
}
.form{

}
.text{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    margin-top: 15px;

}
.login-button{
    width: 80px;
    height: 40px;
    background-color: black;
    color: white;
    margin-top: 25px;
    border-radius: 15px;
}
