* {
    margin: 0;
    padding: 0;
    font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

.w-h-100 {
    height: 100%;
    width: 100%;
}
.screen{
    width: 100%;
    height: auto;
    border: 2px solid red;
}
.nav-bar{
    width: 99%;
    height: 120px;
    border: 4px solid yellow;
    margin: auto;
    background-color: rgb(245, 245, 245);
}
.nav-one{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    display: flex;
  
}
.nav-one-right{
    width: 20%;
    height: 30px;
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    margin-left: 1000px;
    margin-top: 10px;
}
.nav-two{
    width: 100%;
    height: 60px;
    border: 2px solid rgb(0, 4, 255);
    display: flex;
}
#nav-two-mid{
    width: 40%;
    border: 2px solid pink;
    margin-left: 40px;
}
#nav-two-mid>div{
    border: 2px solid red;
}
#nav-two-right{
    width: 30%;
    margin-left: 150px;
    border: 2px solid black;
}
#your-wishlist{
    width: auto;
    height: 30%;
    margin: auto;
    border: 2px solid yellow;
   font-size: 20px;
}
#your-cart{
    width: auto;
    height: 30%;
    margin: auto;
    border: 2px solid yellow;
    font-size: 20px;
}
.Nike-pegasus{
    width: 99%;
    height: 100px;
    border: 2px solid green;
    margin-top: 20px;
}
.line-one{
    width: 200px;
    border: 2px solid grey;
}
.line-two{
    height: 50px;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    margin-top: 10px;
    
}
.line-two-left{
    font-size: 23px;
    font-weight: bold;
    width: 26%;
    border: 2px solid pink;
}
.line-two-right{
    width: 15%;
    border: 2px solid pink;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.products{
    width: 99%;
    height: auto;
    border: 4px solid blue;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.Side-bar{
    width: 20%;
    height: auto;
    border: 2px solid magenta;
    background-color: rgb(245, 245, 245);
}
.side-first{
    width: 50%;
    margin: auto;
    height: 100px;
    border: 2px solid yellow;
}
.side-second{
    width: 50%;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    border: 2px solid rgb(94, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 14px 16px;
    font-size: 20px;
    font-weight: 550;
}
.lifestyle{
    font-size: 20px;
    border: 2px solid blueviolet;
    padding: 0px 14px 16px;
    font-weight: 550;
}
.running{
    margin-top: 20px;
    font-size: 18px;
    border: 2px solid blueviolet;
    padding: 0px 14px 16px;
    font-weight: 550;
}
.all-products{
    width: 80%;
    height: auto;
    border: 5px solid pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(245, 245, 245);
}
.single-product{
    width: 30%;
    height: 600px;
    border: 4px solid red;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.img{
    width: 100%;
    height: 330px;
    margin: auto;
    border: 2px solid blueviolet;
}
.pro-info{
    width: 100%;
    height: 270px;
 
    border: 2px solid yellow;
}
.tags{
    color: rgb(168, 16, 16);
    
}
.name{
    margin-top: 10px;
}
.type{
    font-size: 15px;
    color: grey;
}
.colour{
    font-size: 15px;
    color: grey;
}
.price{
    margin-top: 10px;
}
.cart{
    width: 80%;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
    margin-top: 10px;
}
.cart:hover{
    background-color: white;
    color: black;
}
.wish{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
}
.wish:hover{
    background-color: black;
    color: white;
}
.pro-img{
    height: 50%;
    width: 80%;
    margin-top: 20px;
}
.pro-title{
    margin-top: 20px;
}

@media screen and (max-width: 480px) {
    .screen{
        width: 98%;
        height: 600px;
        margin: auto;
    }
    .nav-bar{
        width: 98%;
        height: 90px;
        margin: auto;
    }
    .nav-one{
        width: 100%;
        height: 30px;
    }
    .nav-one-right{
        width: 50%;
        height: 10px;
        font-size: 10px;
        margin-left: 200px;
        
    }
    .nav-two{
        width: 100%;
        height: 30px;
        font-size: 10px;
    }
    #nav-two-left{
        width: 10%;
        height: 25px;
        margin-top: 3px;
    }
    #nav-two-mid>div{
        width: 30px;
        border: 2px solid red;
        display: none;
    }

    #your-wishlist{
        width: 20%;
        font-size: 13px;
        border: 2px solid green;
        margin-left: 60px;
        font-weight: bold;
    }
    #your-cart{
        width: 20%;
        font-size: 13px;
        border: 2px solid yellow;
        font-weight: bold;
    }
    #nav-two-right{
        width: 40%;
        height: auto;
        margin-top: 3px;
        margin-right: 3px;
        margin-left: 0px;
    }
    .line-one{
        font-size: 14px;
    }
    .line-two-left{
        font-size: 14px;
        width: 40%;
    }
    .line-two-right{
        width: 30%;
        font-size: 14px;
        display: flex;
        margin: auto;
        margin-right: 0px;
    }
    .lifestyle{
        font-size: 12px;
        margin: auto;
    }
    .running{
        font-size: 12px;
    }
    .side-second{
        font-size: 13px;
        height: 500px;
        background-color: rgb(245, 245, 245);
    }
    .single-product{
        width: 40%;
    }
    .type{
        margin-top: 5px;
       font-size: 13px; 
    }
    .colour{
        margin-top: 5px;
       font-size: 13px;
    }
    .price{
        font-size: 13px;
    }
    .cart{
        width: 70%;
        height: 30px;
    }
    .cart:hover{
        background-color: white;
        color: black;
    }
    .wish{
        width: 70%;
        height: 30px;
    }
    .wish:hover{
        background-color: black;
        color: white;
    }
}