* {
    margin: 0;
    padding: 0;
    font-family: 'OnePlus Sans Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
}

.w-h-100 {
    height: 100%;
    width: 100%;
}
.screen{
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
}
.nav-bar{
    width: 99%;
    height: 120px;
    /* border: 4px solid yellow; */
    margin: auto;
    background-color: rgb(245, 245, 245);
}
.nav-one{
    width: 100%;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
  
}
.nav-one-right{
    width: 20%;
    height: 30px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    margin-left: 1000px;
    margin-top: 10px;
}
.nav-two{
    width: 100%;
    height: 60px;
    /* border: 2px solid red; */
    display: flex;
}
.products{
    width: 99%;
    height: 600px;
    /* border: 4px solid blue; */
    margin: auto;
    margin-top: 20px;
}
.all-products{
    width: 99%;
    height: auto;
    /* border: 5px solid pink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(245, 245, 245);
}
.single-product{
    width: 20%;
    height: 300px;
    /* border: 4px solid red; */
}
.pro-img{
    height: 50%;
    width: 80%;
    margin-top: 20px;
}
.pro-title{
    margin-top: 20px;
}